body {
    width: 60%;
    height: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.left-side {
    flex: 70%;
    padding: 20px;
}

.right-side {
    flex: 30%;
    padding: 20px;
}

.img-sub {
    display: flex;
}

.img-sub img {
    width: 115px;
    height: 65px;
    margin: 10px;
}

.alert-idioma {
    border: 1px solid tomato;
    /* amarelo que não lembro */
    text-align: center;

}

.status-side {
    /* background-color: #aaa; */
    width: 100%;
    height: 200px;
    padding: 20px;
}

.qualquer-coisa {
    background-color: #ddd;
    width: 100%;
    height: 200px;
    padding: 20px;

}

.analises {
    background-color: #ddd;
    width: 100%;
    height: 200px;
    padding: 20px;

}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/*botao de like e dislike*/
.container{
    border: 3px solid #303030;
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}
.voting{
    position: relative;
    border: 3px solid #303030;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
input{
    width: 50px;
    border: none;
    background: none;
    color: #919191;
    font-size: 30px;
    margin: 0 10px;
    pointer-events: none;
}
button{
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 15px;
    margin: 10px 0;
    margin-left: 20px;
    cursor: pointer;
}
button:active{
    color: #fbff00;
    transform: scale(1.2);
}
